* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #222222;
  line-height: 1.4;
}

.main-container {
  display: flex;
  min-height: calc(100vh - 58px);
}