body{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container{
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    padding: 0 20px;
}

a{
    text-decoration: none;
    color: #B8BECD;
}

li{
    display: block;
}

p{
    text-decoration: none;
    color: #B8BECD;
}