.hero{
    padding-top: 100;
}
.container{
    background-image: url(/images/thousand02.svg);
    background-repeat: no-repeat;
    background-position: right 50px top 90px;
}

.hero__inner{
width: 481px;
padding-top: 200px;
padding-bottom: 300px;
}
.hero__title{
    font-family: "Playfair Display";
    font-size: 36;
    font-weight: 700;
    line-height: 50px;
}
.hero__paragraph{
    font-weight: 300;
    font-size: 17;
    line-height: 30px;
}
.hero__download-button{
    border-radius: 8px;
    border: 1px solid;
    width: 164px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    background-color: #FB8F1D;
    color: #fff;
    border: none;
}