.bar__text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}

.stories__text {
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    padding-top: 100px;
}

.stories__link {
    font-size: 15px;
    font-weight: 600;
    color: #FB8F1D;
    text-decoration: none;
    margin-bottom: 8px;
}

.container.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.card {
    width: 261px;
}

.card__image{
    background-color: aqua;
    width: 261px;
    height: 231px;
}

.card__title{
    font-size: 19px;
    font-weight: 700;
}

.card__paragraph{
    font-size: 15px;
    font-weight: 400;
    color: #7D7987;
}

.card__image.img1{
    background-image: url(/images/img1.svg);
    background-repeat: no-repeat;
    align-items: center;
    border-radius: 12px 12px 0 0;
}
.card__image.img2{
    background-image: url(/images/img2.svg);
    background-repeat: no-repeat;
    align-items: center;
    border-radius: 12px 12px 0 0;
}
.card__image.img3{
    background-image: url(/images/img3.svg);
    background-repeat: no-repeat;
    align-items: center;
    border-radius: 12px 12px 0 0;
}
.card__image.img4{
    background-image: url(/images/img4.svg);
    background-repeat: no-repeat;
    align-items: center;
    border-radius: 12px 12px 0 0;
}
.card__link{
    width: 90px;
    height: 28px;
    font-size: 15px;
    font-weight: 600;
    color: #FB8F1D;
}